<h1><%= "#{@ski.brand} #{@ski.name }" %></h1>
<p><%= "Width => #{@ski.width}" %></p>
<p><%= "Length => #{@ski.length}" %></p>
<p><%="Category => #{@ski.category}"%></p>

<a href="/skis/<%= @ski.id %>/edit">Edit Ski</a><br><br>

<form class="" action="/skis/<%= @ski.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value ="Remove Ski from Collection">
</form>
